html, body {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #473F41;
    text-align: center;
    font-family: century-gothic,sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-style: italic;
    margin: 20px;
    font-size: 60pt;
    font-weight: 300;
}

h2 {
    font-size: 26pt;
    font-weight: 300;
}

p {
    font-weight: 100;
}

#timer {
    min-width: 150px;
    min-height: 150px;
    max-width: 200px;
    max-height: 200px;
    font-size: 26pt;
    background-color: #473F41;
    color: #FFFFFF;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

#containment {
    border: 1px solid #473F41;
}

.container {
    display: flex;
    flex-direction: row;
}

.sidebar-left {
    max-width: 20%;
    display: flex;
    flex-direction: column;
    margin: 20px
}

.sidebar-right {
    max-width: 25%;
    display: flex;
    flex-direction: column;
}

.main {
    max-width: 55%;
}

.local-button {

}

.local-content {

}

.regional-button {

}

.regional-content {

}

.state-button {

}

.state-content {
}

.country-button {

}

.country-content {
    
}


/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

