html, body {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #473F41;
    text-align: center;
    font-family: century-gothic,sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-style: italic;
    margin: 10px;
    font-size: 60pt;
    font-weight: 300;
    line-height: 1;
}

h2 {
    font-size: 16pt;
    font-weight: 300;
    margin: 10px;
}

h3 {
    font-size: 20pt;
    font-weight: 600;
    margin: 5px;
}

p {
    font-weight: 100;
    margin: 10px;
}


#chart--container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#sidebar-left {
    width: 20%;
    flex: 1 0 20%;
    display: flex;
    flex-direction: column;
}

#chart {
    width: 70%;
    flex: 1 0 70%;
    max-height: 100vh;
    position: relative;
}

#sidebar-right {
    width: 10%;
    flex: 1 0 10%;
    display: flex;
    flex-direction: column;
}

#timer {
    min-width: 150px;
    min-height: 150px;
    max-width: 200px;
    max-height: 200px;
    font-size: 26pt;
    background-color: #473F41;
    color: #FFFFFF;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

#effect {
    position: absolute;
}

#story {
    min-height: 20%;
    max-height: 35%
}

#containment {
    border: 1px solid #473F41;
    max-width: 80%;
    margin: 0 auto;
}

.tooltip {
    position: absolute;
    left: 0px;
    top: 0px;
    visibility: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    padding: 2px;
    pointer-events: none;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}

/*


.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.sidebar-left {
    width: 15%;
    flex: 1 0 15%;
    display: flex;
    flex-direction: column;
    margin: 20px
}

.main {
    width: 70%;
    flex: 1 0 70%;
}

.sidebar-right {
    width: 15%;
    flex: 1 0 15%;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.main {
    max-width: 70%;
}

.collapsible.local-button {
    background-color: rgba(61, 50, 139, .5);
}

.content.local-content {
    background-color: rgba(61, 50, 139, .4);
}

.collapsible.local-button:hover {
    border: 3px solid rgba(61, 50, 139, .6);
}

.collapsible.regional-button {
    background-color: rgba(118, 64, 145, .5);
}

.content.regional-content {
    background-color: rgba(118, 64, 145, .4);
}

.collapsible.regional-button:hover {
    border: 3px solid rgba(118, 64, 145, .6);
}

.collapsible.state-button {
    background-color: rgba(224, 89, 38, .5);
}

.content.state-content {
    background-color: rgba(224, 89, 38, .4);
}

.collapsible.state-button:hover {
    border: 3px solid rgba(224, 89, 38, .6);
}

.collapsible.country-button {
    background-color: rgba(246, 134, 31, .5);
}

.content.country-content {
    background-color: rgba(246, 134, 31, .4);
}

.collapsible.country-button:hover {
    border: 3px solid rgba(246, 134, 31, .6);
}

.collapsible {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-weight: 600;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

.impacts-icon-container {
    margin: 5px;
    display: flex;
    flex-wrap: column;
}

.impact {
    display: flex;
    align-items: center;
    margin: 3px;
}

.impact span {
    font-size: 10pt;
    padding-left: 5px;
}

.icon {
    max-height: 40px;
    max-width: 40px;
    width: 40px;
} */
