html, body {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #473F41;
    text-align: center;
    font-family: century-gothic,sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-style: italic;
    margin: 20px;
    font-size: 60pt;
    font-weight: 300;
}

h2 {
    font-size: 26pt;
    font-weight: 300;
}

h3 {
    font-size: 20pt;
    font-weight: 600;
    margin: 5px;
}

p {
    font-weight: 100;
    margin: 10px;
}

#timer {
    min-width: 150px;
    min-height: 150px;
    max-width: 200px;
    max-height: 200px;
    font-size: 26pt;
    background-color: #473F41;
    color: #FFFFFF;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

#containment {
    border: 1px solid #473F41;
}

.container {
    display: flex;
    flex-direction: row;
}

.sidebar-left {
    max-width: 20%;
    display: flex;
    flex-direction: column;
    margin: 20px
}

.sidebar-right {
    max-width: 25%;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 100px 20px;
}

.main {
    max-width: 55%;
}

.collapsible.local-button {
    /* background-color: #3D328B; */
    background-color: rgba(61, 50, 139, .5);
}

.content.local-content {
    background-color: rgba(61, 50, 139, .4);
}

.collapsible.local-button:hover {
    border: 3px solid rgba(61, 50, 139, .6);
}

.collapsible.regional-button {
    /* background-color: #764091; */
    background-color: rgba(118, 64, 145, .5);
}

.content.regional-content {
    background-color: rgba(118, 64, 145, .4);
}

.collapsible.regional-button:hover {
    border: 3px solid rgba(118, 64, 145, .6);
}

.collapsible.state-button {
    background-color: rgba(224, 89, 38, .5);
}

.content.state-content {
    background-color: rgba(224, 89, 38, .4);
}

.collapsible.state-button:hover {
    border: 3px solid rgba(224, 89, 38, .6);
}

.collapsible.country-button {
    background-color: rgba(246, 134, 31, .5);
}

.content.country-content {
    background-color: rgba(246, 134, 31, .4);
}

.collapsible.country-button:hover {
    border: 3px solid rgba(246, 134, 31, .6);
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-weight: 600;
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

